- @articles.each do |article|
  .row{id: "issue_#{article.id}"}
    .col-md-2
      .pull-right
        %section.grid_2.day
          %time{:datetime => article.created_at.to_s(:db), :pubdate => "pubdate"}
            %span.date-day= article.created_at.strftime("%d")
            %span.date-month
              \.#{article.created_at.strftime("%m")}
            %span.date-year= article.created_at.strftime("%Y")
    .col-md-10
      = link_to article.title, article_path(article)
      %span/
      = article.text
  %hr/
