.row
  .col-md-2
    = image_tag @article.user.avatar, with: 80, height: 80
    = @article.user.email
  .col-md-10
    %h5
      = @article.title
      %small
        - if can? :manage, @article
          = link_to '', edit_article_path(@article), class: "glyphicon glyphicon-pencil"
    %hr/
    %h4
      = @article.text
%hr/
= render @article.comments
%hr/
%h2
  Add comment
= render 'comments/form'
= link_to 'Back', articles_path, class: "btn-sm btn btn-default"
