%h1
  Profile
  %small
    = @user.email
= form_for @user do |f|
  %p
    %label
      = t('.my_avatar')
    = image_tag(@user.avatar_url, with: 100, height: 150) if @user.avatar?
    %br/
    %br/
    = f.file_field :avatar
    = f.hidden_field :avatar_cache
  = f.submit
